/*import.scss*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

//외부 scss 불러 오기
@import 'style';


//변수 선언

$bigFontSize:26px;
$color:#00f;
$background:#ccc;

h1{
  font-family: "Noto Sans KR";
  font-size: $bigFontSize;
  color: $color;
  background-color: $background;
}