/*style.scss
스타일 가이드에서 설정된 색상값, 글꼴에 관련된 서식값, 링크에 관련된 서식값
*/

// 전역변수  - 외부 파일 사용 할꺼면 _ 넣지 말 것.
$myFont: '맑은 고딕', arial, sans-serif;
$baseFontColor: #333;
$baseFontSize:12px;
$bigFontSize:30px;
$boxwidth:1280px;
$boxCenter:0 auto;
$bgColor:#ffff00;

body{
  //지역변수
  $p01:#f00;
  font-family: $myFont;
  font-size: $baseFontSize;
  color: $baseFontColor;
}
h1{
  font-size: $bigFontSize;
}
#wrap{
  $bgColor01:#0f0;
  width: $boxwidth;
  height: 300px;
  background: $bgColor;
  border: 1px solid $bgColor01;
  margin: $boxCenter;
}

