// mixin.scss
$bgcolor_g:#ccc;
$bacolor_dark_g:#333;
$time:.5s;


@mixin toggle_b{
  position: relative;
  display: block;
 
  width: 40px; height: 40px;
  cursor: pointer;
}
@mixin bar{
  width: 38px;
  height: 3px;
  display: inline-block;
  position: absolute;
  left: 1px;
  transition: $time;
}
.toggle_btn{
   border: 1px solid $bgcolor_g;
   @include toggle_b;
}
.bar{
  @include bar;
  background: $bacolor_dark_g;
  
}
.bar1{top: 5px;}
.bar2{top: 18px;}
.bar3{bottom: 5px;}
#toggle:checked + .toggle_btn .bar2{display: none;}
#toggle:checked + .toggle_btn .bar1{
  transform: rotate(45deg) translate(10px, 10px);
}
#toggle:checked + .toggle_btn .bar3{
  transform: rotate(-45deg) translate(10px, -10px);
}

/*자바 스크립트로 적용할 서식*/
.none{display: none !important;}
.rotate1{
  transform: rotate(45deg) translate(10px, 10px) !important;
}
.rotate2{
  transform: rotate(-45deg) translate(10px, -10px) !important;

}

