// style.scss

:root{
  --t_color:#0f0;
}
ul>li{ color: var(--t_color);}
//scss 파일 내용

$t_color1:#333;
$m_color:#00f; /*메인 컬러*/
$sub_color:#0f0;  /*보조 컬러*/
$bg_color:#ccc;  /* 배경색 */
$line_h: 210%; /* 줄간격 */
// 정렬 속성 변수
$alin_c:center;
.p01{
  color: $t_color1;
  background: $bg_color;
  text-align: $alin_c;
}
pre{
  background: $bg_color;
}
footer{
  background: $t_color1;
  color: #fff;
  text-align: $alin_c;
  address{
    font-style: normal;
    line-height: $line_h;
  }
}
